@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

/* 👇 Tell Tailwind to scan HeroUI’s theme files */
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@plugin '../../hero.ts';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: #8DBC1A;
  --color-secondary: #0E0E0E;
  --color-darkBronze: #334600;
  --color-lightGoldenrodYellow: #ecffbb;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --drop-shadow-gb-glow: 0px 0px 150px #8DBC1A;
  --drop-shadow-card: 0px 0px 15px #8DBC1A;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0E0E0E;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  font-family: "Outfit", sans-serif;
  color: var(--foreground);
}

span[data-slot='indicator'] {
  @apply !rotate-90
}

span[data-slot='indicator'][data-open='true'] {
  @apply !-rotate-90
}

.stroke-title-text {
  width: fit-content;
  background: transparent;
  font-family: "Orbitron", sans-serif;
  color: var(--white);
  font-size: clamp(1.251rem, 10vw, 3rem);
  font-weight: 900;
  line-height: 1.3;
  letter-spacing: -0.5px;
  text-align: center;
  z-index: 0;
  position: relative;
  margin: 0 auto;
  text-shadow: 
	7.33504px 6.64809px 0 var(--color-primary), 
	7.65241px 6.28017px 0 var(--color-primary), 
	7.95134px 5.89712px 0 var(--color-primary), 
	8.23112px 5.49986px 0 var(--color-primary), 
	8.49108px 5.08935px 0 var(--color-primary), 
	8.73057px 4.66658px 0 var(--color-primary), 
	8.94903px 4.23257px 0 var(--color-primary), 
	9.14594px 3.78837px 0 var(--color-primary), 
	9.32081px 3.33503px 0 var(--color-primary), 
	9.47322px 2.87367px 0 var(--color-primary), 
	9.60281px 2.40538px 0 var(--color-primary), 
	9.70927px 1.93129px 0 var(--color-primary), 
	9.79234px 1.45255px 0 var(--color-primary), 
	9.85182px 0.97032px 0 var(--color-primary), 
	9.88757px 0.48574px 0 var(--color-primary), 
	9.89949px 0px 0 var(--color-primary), 
	9.88757px -0.48575px 0 var(--color-primary), 
	9.85182px -0.97033px 0 var(--color-primary), 
	9.79234px -1.45256px 0 var(--color-primary), 
	9.70927px -1.9313px 0 var(--color-primary), 
	9.60281px -2.40539px 0 var(--color-primary), 
	9.47322px -2.87368px 0 var(--color-primary), 
	9.32081px -3.33504px 0 var(--color-primary), 
	9.14594px -3.78838px 0 var(--color-primary), 
	8.94903px -4.23258px 0 var(--color-primary), 
	8.73057px -4.66659px 0 var(--color-primary), 
	8.49108px -5.08936px 0 var(--color-primary), 
	8.23112px -5.49987px 0 var(--color-primary), 
	7.95134px -5.89713px 0 var(--color-primary), 
	7.65241px -6.28018px 0 var(--color-primary), 
	7.33504px -6.6481px 0 var(--color-primary), 
	7px -7px 0 var(--color-primary), 
	6.64809px -7.33505px 0 var(--color-primary), 
	6.28017px -7.65242px 0 var(--color-primary), 
	5.89712px -7.95135px 0 var(--color-primary), 
	5.49986px -8.23113px 0 var(--color-primary), 
	5.08935px -8.49109px 0 var(--color-primary), 
	4.66658px -8.73058px 0 var(--color-primary), 
	4.23257px -8.94904px 0 var(--color-primary), 
	3.78837px -9.14595px 0 var(--color-primary), 
	3.33503px -9.32082px 0 var(--color-primary), 
	2.87367px -9.47323px 0 var(--color-primary), 
	2.40538px -9.60282px 0 var(--color-primary), 
	1.93129px -9.70928px 0 var(--color-primary), 
	1.45255px -9.79235px 0 var(--color-primary), 
	0.97032px -9.85183px 0 var(--color-primary), 
	0.48574px -9.88758px 0 var(--color-primary), 
	0px -9.8995px 0 var(--color-primary), 
	-0.48575px -9.88758px 0 var(--color-primary), 
	-0.97033px -9.85183px 0 var(--color-primary), 
	-1.45256px -9.79235px 0 var(--color-primary), 
	-1.9313px -9.70928px 0 var(--color-primary), 
	-2.40539px -9.60282px 0 var(--color-primary), 
	-2.87368px -9.47323px 0 var(--color-primary), 
	-3.33504px -9.32082px 0 var(--color-primary), 
	-3.78838px -9.14595px 0 var(--color-primary), 
	-4.23258px -8.94904px 0 var(--color-primary), 
	-4.66659px -8.73058px 0 var(--color-primary), 
	-5.08936px -8.49109px 0 var(--color-primary), 
	-5.49987px -8.23113px 0 var(--color-primary), 
	-5.89713px -7.95135px 0 var(--color-primary), 
	-6.28018px -7.65242px 0 var(--color-primary), 
	-6.6481px -7.33505px 0 var(--color-primary), 
	-7px -7.00001px 0 var(--color-primary), 
	-7.33505px -6.6481px 0 var(--color-primary), 
	-7.65242px -6.28018px 0 var(--color-primary), 
	-7.95135px -5.89713px 0 var(--color-primary), 
	-8.23113px -5.49987px 0 var(--color-primary), 
	-8.49109px -5.08936px 0 var(--color-primary), 
	-8.73058px -4.66659px 0 var(--color-primary), 
	-8.94904px -4.23258px 0 var(--color-primary), 
	-9.14595px -3.78838px 0 var(--color-primary), 
	-9.32082px -3.33504px 0 var(--color-primary), 
	-9.47323px -2.87368px 0 var(--color-primary), 
	-9.60282px -2.40539px 0 var(--color-primary), 
	-9.70928px -1.9313px 0 var(--color-primary), 
	-9.79235px -1.45256px 0 var(--color-primary), 
	-9.85183px -0.97033px 0 var(--color-primary), 
	-9.88758px -0.48575px 0 var(--color-primary), 
	-9.8995px -0.00001px 0 var(--color-primary), 
	-9.88758px 0.48574px 0 var(--color-primary), 
	-9.85183px 0.97032px 0 var(--color-primary), 
	-9.79235px 1.45255px 0 var(--color-primary), 
	-9.70928px 1.93129px 0 var(--color-primary), 
	-9.60282px 2.40538px 0 var(--color-primary), 
	-9.47323px 2.87367px 0 var(--color-primary), 
	-9.32082px 3.33503px 0 var(--color-primary), 
	-9.14595px 3.78837px 0 var(--color-primary), 
	-8.94904px 4.23257px 0 var(--color-primary), 
	-8.73058px 4.66658px 0 var(--color-primary), 
	-8.49109px 5.08935px 0 var(--color-primary), 
	-8.23113px 5.49986px 0 var(--color-primary), 
	-7.95135px 5.89712px 0 var(--color-primary), 
	-7.65242px 6.28017px 0 var(--color-primary), 
	-7.33505px 6.64809px 0 var(--color-primary), 
	-7.00001px 6.99999px 0 var(--color-primary), 
	-6.6481px 7.33504px 0 var(--color-primary), 
	-6.28018px 7.65241px 0 var(--color-primary), 
	-5.89713px 7.95134px 0 var(--color-primary), 
	-5.49987px 8.23112px 0 var(--color-primary), 
	-5.08936px 8.49108px 0 var(--color-primary), 
	-4.66659px 8.73057px 0 var(--color-primary), 
	-4.23258px 8.94903px 0 var(--color-primary), 
	-3.78838px 9.14594px 0 var(--color-primary), 
	-3.33504px 9.32081px 0 var(--color-primary), 
	-2.87368px 9.47322px 0 var(--color-primary), 
	-2.40539px 9.60281px 0 var(--color-primary), 
	-1.9313px 9.70927px 0 var(--color-primary), 
	-1.45256px 9.79234px 0 var(--color-primary), 
	-0.97033px 9.85182px 0 var(--color-primary), 
	-0.48575px 9.88757px 0 var(--color-primary), 
	-0.00001px 9.89949px 0 var(--color-primary), 
	0.48574px 9.88757px 0 var(--color-primary), 
	0.97032px 9.85182px 0 var(--color-primary), 
	1.45255px 9.79234px 0 var(--color-primary), 
	1.93129px 9.70927px 0 var(--color-primary), 
	2.40538px 9.60281px 0 var(--color-primary), 
	2.87367px 9.47322px 0 var(--color-primary), 
	3.33503px 9.32081px 0 var(--color-primary), 
	3.78837px 9.14594px 0 var(--color-primary), 
	4.23257px 8.94903px 0 var(--color-primary), 
	4.66658px 8.73057px 0 var(--color-primary), 
	5.08935px 8.49108px 0 var(--color-primary), 
	5.49986px 8.23112px 0 var(--color-primary), 
	5.89712px 7.95134px 0 var(--color-primary), 
	6.28017px 7.65241px 0 var(--color-primary), 
	6.64809px 7.33504px 0 var(--color-primary), 
	6.99999px 7px 0 var(--color-primary);
}