@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

/* 👇 Tell Tailwind to scan HeroUI’s theme files */
@source "../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";
@plugin '../../hero.ts';

/* VC Henrietta Light (300) */
@font-face {
	font-family: "VC Henrietta";
	src: url("/assets/fonts/VC-Henrietta/VCHenrietta-Light-300.eot"); /* IE9 Compat Modes */
	src:
		url("/assets/fonts/VC-Henrietta/VCHenrietta-Light-300.eot?#iefix") format("embedded-opentype"),
		url("/assets/fonts/VC-Henrietta/VCHenrietta-Light-300.woff2") format("woff2"),
		url("/assets/fonts/VC-Henrietta/VCHenrietta-Light-300.woff") format("woff"),
		url("/assets/fonts/VC-Henrietta/VCHenrietta-Light-300.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

/* VC Henrietta Regular (400) */
@font-face {
	font-family: "VC Henrietta";
	src: url("/assets/fonts/VC-Henrietta/VCHenrietta-Regular-400.eot");
	src:
		url("/assets/fonts/VC-Henrietta/VCHenrietta-Regular-400.eot?#iefix") format("embedded-opentype"),
		url("/assets/fonts/VC-Henrietta/VCHenrietta-Regular-400.woff2") format("woff2"),
		url("/assets/fonts/VC-Henrietta/VCHenrietta-Regular-400.woff") format("woff"),
		url("/assets/fonts/VC-Henrietta/VCHenrietta-Regular-400.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

/* VC Henrietta Medium (500) */
@font-face {
	font-family: "VC Henrietta";
	src: url("/assets/fonts/VC-Henrietta/VCHenrietta-Medium-500.eot");
	src:
		url("/assets/fonts/VC-Henrietta/VCHenrietta-Medium-500.eot?#iefix") format("embedded-opentype"),
		url("/assets/fonts/VC-Henrietta/VCHenrietta-Medium-500.woff2") format("woff2"),
		url("/assets/fonts/VC-Henrietta/VCHenrietta-Medium-500.woff") format("woff"),
		url("/assets/fonts/VC-Henrietta/VCHenrietta-Medium-500.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

/* VC Henrietta SemiBold (600) */
@font-face {
	font-family: "VC Henrietta";
	src: url("/assets/fonts/VC-Henrietta/VCHenrietta-SemiBold-600.eot");
	src:
		url("/assets/fonts/VC-Henrietta/VCHenrietta-SemiBold-600.eot?#iefix") format("embedded-opentype"),
		url("/assets/fonts/VC-Henrietta/VCHenrietta-SemiBold-600.woff2") format("woff2"),
		url("/assets/fonts/VC-Henrietta/VCHenrietta-SemiBold-600.woff") format("woff"),
		url("/assets/fonts/VC-Henrietta/VCHenrietta-SemiBold-600.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

/* VC Henrietta Bold (700) */
@font-face {
	font-family: "VC Henrietta";
	src: url("/assets/fonts/VC-Henrietta/VCHenrietta-Bold-700.eot");
	src:
		url("/assets/fonts/VC-Henrietta/VCHenrietta-Bold-700.eot?#iefix") format("embedded-opentype"),
		url("/assets/fonts/VC-Henrietta/VCHenrietta-Bold-700.woff2") format("woff2"),
		url("/assets/fonts/VC-Henrietta/VCHenrietta-Bold-700.woff") format("woff"),
		url("/assets/fonts/VC-Henrietta/VCHenrietta-Bold-700.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* VC Henrietta Black (900) */
@font-face {
	font-family: "VC Henrietta";
	src: url("/assets/fonts/VC-Henrietta/VCHenrietta-Black-900.eot");
	src:
		url("/assets/fonts/VC-Henrietta/VCHenrietta-Black-900.eot?#iefix") format("embedded-opentype"),
		url("/assets/fonts/VC-Henrietta/VCHenrietta-Black-900.woff2") format("woff2"),
		url("/assets/fonts/VC-Henrietta/VCHenrietta-Black-900.woff") format("woff"),
		url("/assets/fonts/VC-Henrietta/VCHenrietta-Black-900.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

:root {
	--background: #0b0b0b; /* rgb(11, 11, 11) */
	--foreground: #ffffff; /* rgb(255, 255, 255) */
}

@theme inline {
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);

	--font-vcHenrietta: "VC Henrietta", sans-serif;
	--font-inter: "Inter", sans-serif;

	--color-primary: #c9fe36; /* rgb(201, 254, 54)) */
	--color-secondary: #0e0e0e; /* rgb(14, 14, 14) */

	--color-arsenic: #423c47; /* rgb(66, 60, 71) */
	--color-charlestonGreen: #282828; /* rgb(40, 40, 40) */
	--color-chineseSilver: #cdcdcd; /* rgb(205, 205, 205) */
	--color-darkLiver: #4e4e4e; /* rgb(78, 78, 78) */
	--color-darkSilver: #6E6E6E; /* rgb(110, 110, 110) */
	--color-eerieBlack: #1a1a1a; /* rgb(26, 26, 26) */
	--color-onyx: #383838; /* rgb(56, 56, 56) */
	--color-philippineSilver: #B4B4B4; /* rgb(180, 180, 180) */
	--color-quickSilver: #a4a4a4; /* rgb(164, 164, 164) */
	--color-silverSand: #C5C5C5; /* rgb(197, 197, 197) */
	--color-spanishGray: #979797; /* rgb(151, 151, 151) */

	--color-success: #00d16f; /* rgb(0, 209, 111) */
	--color-danger: #ff2a00; /* rgb(255, 42, 0) */

	--color-background: var(--background);
	--color-foreground: var(--foreground);

	--drop-shadow-gb-glow: 0px 0px 150px #c9fe36;
	--drop-shadow-card: 0px 0px 15px #c9fe36;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0b0b0b; /* rgb(11, 11, 11) */
		--foreground: #ffffff; /* rgb(255, 255, 255) */
	}
}

body {
	background: var(--background);
	font-family: var(--font-vcHenrietta);
	color: var(--foreground);
	overflow-x: hidden
}

.primary-btn,
.secondary-btn {
	@apply bg-no-repeat bg-cover bg-center;
}

.primary-btn {
	background-image: url("../../public/assets/images/primary-btn-bg-img.webp");
	@apply border-[#006BC6] shadow-[inset_0_-2px_0_0_rgba(0,84,205,0.5),inset_0_2px_0_0_#43C6FF,0_6px_5px_0_rgba(0,0,0,0.25)] [&_span,&_svg]:drop-shadow-[0_4px_8px_#085AEA];
}

.secondary-btn {
	background-image: url("../../public/assets/images/secondary-btn-bg-img.webp");
	@apply border-[#E26702] shadow-[inset_0_-2px_0_0_rgba(177,77,0,0.5),inset_0_2px_0_0_#FDC675,0_6px_5px_0_rgba(0,0,0,0.25)] [&_span,&_svg]:drop-shadow-[0_4px_8px_#B74F00];
}

.metallic-btn {
	/* background-image: url("../../public/assets/images/metallic-btn-bg-img.webp"); */
	@apply shadow-[0px_3px_4px_0px_#000000,0px_0px_0px_1px_#392A47] [&_span,&_svg]:drop-shadow-[0_-1px_0_#5F5F5F];
}

.truncate-2-lines {
  display: -webkit-box;          /* Required for webkit */
  -webkit-line-clamp: 2;          /* Number of lines to show */
  -webkit-box-orient: vertical;   /* Vertical box orientation */
  overflow: hidden;               /* Hide overflowing text */
  text-overflow: ellipsis;        /* Add ellipsis */
}

span[data-slot="indicator"] {
	@apply !rotate-90;
}

span[data-slot="indicator"][data-open="true"] {
	@apply !-rotate-90;
}